<html>
  <body>	 
	<h1> Login Page </h1> 
	<hr />	
	<form action="Login" method="POST">
		<fieldset>
			<legend>User 
Login</legend>
			<br />			
			User Id :  	
<input 	type="text"  name="t1"  />		
	
			<br />	<br />		
	
			Password :  <input 	
type="password"  name="t2"  />		
			<br /> <br />
			<input 	
type="submit" value=" Login " />
			<h3> <%=  str  %> 
</h3>				
		</fieldset>
	</form>



 </body>
</html>


