<html>
  <body>	 
	<h1> Create New Dept </h1> 
	<hr />	
	<form action="CreateDept" method="POST">
		<fieldset>
			<legend>New Dept Details</legend>
			<br />			
			Deptno :  	<input 	type="text"  name="t1"  />			
			<br />	<br />			
			Dname :  <input 	type="text"  name="t2"  />		
            <br /> <br />
            Location :  <input 	type="text"  name="t3"  />		
			<br /> <br />
			<input 	type="submit" value=" Create " />			
		</fieldset>
    </form>
    <hr/>
<a href="/">Back to Depts</a>
 </body>
</html>


