<h3>Selected Employee Details</h3>
<hr/>

<div> 
    EmployeeID  :   <%= empObj.employeeID %>   <br/>
    EmployeeName :   <%= empObj.EmployeeName %>   <br/>
    Proffession    :   <%= empObj.Proffession %>   <br/>
</div>
<hr/>
<a href="/">Back to Employees</a>