<h3>Selected Dept Details</h3>
<hr/>

<div> 
        Deptno :   <%= deptObj.deptno %>   <br/>
        Dname :   <%= deptObj.dname %>   <br/>
        Location :   <%= deptObj.loc %>   <br/>
</div>
<hr/>
<a href="/">Back to Depts</a>